html, body {
  background-color: #171717;
  color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
// Contenu principal
.main-content {
  flex: 1;
  padding: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
// Barre de navigation
.navbar {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-brand,
.nav-link {
  color: #ffffff !important;
}
.nav-link {
  background-color: #BA9371;
  color: #ffffff !important;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.nav-link:hover {
  transform: scale(1.05);
  background-color: #C56929;
}
.navbar-nav .nav-item {
  margin-right: 10px;
}
.navbar-nav .nav-item:last-child {
  margin-right: 0;
}
.navbar {
  border-bottom: none !important;
  box-shadow: none !important;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #171717;
  color: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  margin-bottom: 20px;
}
.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.sidebar a:hover {
  background-color: #BA9371;
}
.sidebar a.router-link-exact-active {
  background-color: #C56929;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-collapse {
  text-align: center;
}
.navbar-nav .nav-item {
  margin: 5px 0;
}
.collapse {
  transition: height 0.3s ease;
}
.collapse.show {
  display: block !important;
}
.logo {
  margin-right: 10px;
  width: 30px;
  height: auto;
}
h5.site-name:hover {
  text-decoration: underline;
}
.site-name {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}
.navbar-brand {
  display: inline-block;
  text-align: left;
  margin: 0;
}
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.navbar-nav {
  margin-left: auto;
}
.navbar-nav .nav-item .nav-link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
}
.collapse .nav-link {
  background-color: #BA9371;
  color: #ffffff !important;
  border-radius: 5px;
  margin-bottom: 10px;
}
.collapse .nav-link:hover {
  background-color: #C56929;
}
// Footer
footer {
  border-top: solid #212121;
  background-color: #171717; 
  color: white;
  text-align: center;
  padding: 10px 0; 
  width: 100%; 
  position: relative;
}
a.footer {
  color: #ffffff;
  text-decoration: none;
  transition: text-decoration 0.3s;
}
a.footer:hover {
  text-decoration: underline;
}
//Autres
@media (max-width: 768px) {
  .card {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .card {
    max-width: 90%; /* Utilise presque toute la largeur de l'écran */
    padding: 20px; /* Réduit le padding pour un meilleur espacement */
  }
}

